<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-bold" href="#">
        <!--copy image link from google or view just the image and then copy the link  , do not copy the website link -->
        <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/227_Netflix_logo-512.png" alt="logo" width="50">
        <span class="text-upper navbar-text">etflix quiz</span>
      </a>
    </div>
  </nav>
  <!-- nabar text alignment and color needs to be set -->
